<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>关于华英</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <img class="banner-bg" src="/public/images/about/banner.png" alt="">
      <div class="max-center">
        <div class="title-module" style="background-image: url(/public/images/about/club-introduction.png);">俱乐部介绍</div>
      </div>
      <div class="infos-container">
        <div class="info-wrapper max-center">
          <div class="left-text">
            华英会由维京龙基金ceo kobe
            sadan创立于2012年7月，华英会创立之初的会员大部分是来自华尔街的高级基金管理经理，在之后的发展中，每年吸纳极少数来自各行各业的顶尖人才，涵盖体育、金融、科技、IT、区块链、数字量化等等企业家和团队领袖，为华英会会员制定全生态投资理财方案。投资组合包括专门投资于高流动性数字加密资产、数字艺术品收藏、去中心化金融、相关公司股权的基金和天使轮融资。华英会根据市场过去行情和预期的表现、基金管理的质量和互补的基金策略对多领域的具备优良潜力资产进行投资。
          </div>
          <div class="right-list">
            <ul class="info-list">
              <li class="info-item on">
                <div class="box">
                  <div class="icon"></div>
                  <div class="title"></div>
                </div>
                <div class="hover">
                  <div class="title">华英会</div>
                </div>
              </li>
              <li class="info-item">
                <div class="box">
                  <div class="icon">
                    <img src="/public/images/home/icon-2.png" alt="">
                  </div>
                  <div class="title">
                    高流动性<br>
                    数字加密资产
                  </div>
                </div>
              </li>
              <li class="info-item">
                <div class="box">
                  <div class="icon">
                    <img src="/public/images/home/icon-3.png" alt="">
                  </div>
                  <div class="title">
                    数字艺术品收藏
                  </div>
                </div>
              </li>
              <li class="info-item">
                <div class="box">
                  <div class="icon">
                    <img src="/public/images/home/icon-4.png" alt="">
                  </div>
                  <div class="title">
                    去中心化金融
                  </div>
                </div>
              </li>
              <li class="info-item">
                <div class="box">
                  <div class="icon">
                    <img src="/public/images/home/icon-5.png" alt="">
                  </div>
                  <div class="title">
                    股权基金
                  </div>
                </div>
              </li>
              <li class="info-item">
                <div class="box">
                  <div class="icon">
                    <img src="/public/images/home/icon-6.png" alt="">
                  </div>
                  <div class="title">
                    天使轮融资
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bg" style="background-image: url(/public/images/about/banner.png);"></div>
      </div>
    </section>
    <section class="investor-container">
      <div class="investor-wrapper max-center">
        <div class="left-layout">
          <div class="title-module" style="background-image: url(/public/images/about/club-investor.png);">俱乐部投资方</div>
          <img src="/public/images/about/about-logo.png" alt="" class="logo">
        </div>
        <div class="right-layout">
          <ul class="num-list">
            <li class="num-item">
              <div class="num">
                <img src="/public/images/about/87.png" alt="87">
                <p>亿美元</p>
              </div>
              <div class="title">资产</div>
            </li>
            <li class="num-item">
              <div class="num">
                <img src="/public/images/about/20.png" alt="20">
                <p>个</p>
              </div>
              <div class="title">活跃地区</div>
            </li>
            <!-- <li class="num-item">
              <div class="num">
                <img src="/public/images/about/num-4.png" alt="4%">
              </div>
              <div class="title">基金</div>
            </li> -->
          </ul>
          <div class="right-title">维京龙资金</div>
          <div class="desc">
            <p>
              Viking Long Fund Master Ltd. 是一家由 Viking Global Investors Lp 创立的对冲基金运营机构，资产约为 87
              亿美元。凭借着敬业的团队和强大的战略合作伙伴关系，我们现在活跃在近 20 个国家/地区。已是全球领先的基金投资平台。
            </p>
            <p>
              Viking Long Fund Master Ltd. 的目标是打造一家经久不衰的资产管理公司。并已经建立了一个深层次的团队，并对新的观点持开放态度。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="achievement-container">
      <div class="achievement-wrapper">
        <div class="title-module" style="background-image: url(/public/images/about/club-achievements.png);">俱乐部成就</div>
        <ul class="achievement-list max-center">
          <li class="achievement-item">
            <a href="">
              <div class="title">2021</div>
              <div class="desc">
                美国创业投资机构<br>
                TOP10
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2020</div>
              <div class="desc">
                全球新兴科技风险投资机构<br>
                美国榜单TOP10
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2020</div>
              <div class="desc">
                美国最受欢迎<br>
                天使投资人TOP10
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2019</div>
              <div class="desc">
                全球最佳投资人<br>
                TOP50
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2018</div>
              <div class="desc">
                全球最佳投资机构<br>
                TOP20
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2017</div>
              <div class="desc">
                美国最佳投资机构<br>
                TOP10
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="">
              <div class="title">2016</div>
              <div class="desc">
                美国新锐投资人
              </div>
            </a>
          </li>
          <li class="achievement-item">
            <a href="" class="more">
              … …
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>