<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>俱乐部资产</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <div class="top-placeholder"></div>
    <section class="team-container">
      <ul class="team-list">
        <li class="team-item">
          <div class="center-layout max-center">
            <div class="text">
              <div class="title-module" style="background-image: url(/public/images/team/co-chairs.png);">联合主席</div>
              <div class="cont">
                <div class="title">koby.sadan</div>
                <div class="desc">
                  负责公司的管理和运营，建立和监督自己的研究团队（包括数据分析，数据科学，政策分析，定性投资研究和尽职调查，以及ESG研究和政策），监督交易和金融，投资者之间的关系，风险分析和绩效分析。负责优化和建立投资组织和团队。
                </div>
              </div>
            </div>
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team-1.png" alt="koby.sadan">
              <img src="/public/images/team/m-team-1.png" alt="" class="m-img">
            </div>
          </div>
        </li>
        <li class="team-item">
          <div class="center-layout max-center">
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team-2.png" alt="">
              <img src="/public/images/team/m-team-2.png" alt="" class="m-img">
            </div>
            <div class="text">
              <div class="cont">
                <div class="title">陈春堂</div>
                <div class="desc">
                  北京航空航天大学硕士, 计算机软件工程硕士,<br>
                  负责投资量化策略开发（依据策略的各种明确定义，开发程序来精确的执行策略）
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <div class="standing-director-container">
      <div class="standing-director-wrapper max-center">
        <div class="title-module" style="background-image: url(/public/images/team/standing-director.png);">常务理事</div>
        <ul class="standing-director-list">
          <li class="standing-director-item">
            <div class="photo">
              <img src="/public/images/team/director1.png" alt="">
            </div>
            <div class="text">
              <div class="title">Augustus</div>
              <div class="cont">
                <table>
                  <tbody>
                    <tr>
                      <td>投资者红杉资本</td>
                      <td>理学硕士，管理科学与工程</td>
                    </tr>
                    <tr>
                      <td>投资者Surge</td>
                      <td>美国斯坦福大学</td>
                    </tr>
                    <tr>
                      <td>东南亚种子阶段创始人的快速扩大计划</td>
                      <td>文学士，经济学</td>
                    </tr>
                    <tr>
                      <td>管理顾问麦肯锡公司</td>
                      <td>美国哈佛商学院</td>
                    </tr>
                    <tr>
                      <td>教育经历</td>
                      <td>工商管理硕士</td>
                    </tr>
                    <tr>
                      <td>美国斯坦福大学</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="standing-director-item">
            <div class="photo">
              <img src="/public/images/team/director2.png" alt="">
            </div>
            <div class="text">
              <div class="title">陈春堂</div>
              <div class="cont">
                <table>
                  <tbody>
                    <tr>
                      <td>北京航空航天大学</td>
                    </tr>
                    <tr>
                      <td>硕士, 计算机软件工程硕士, </td>
                    </tr>
                    <tr>
                      <td>负责投资量化策略开发（依据策略的各种明确定义，开发程序来精确的执行策略）</td>
                    </tr>
                    <tr>
                      <td>湖北金猫科技有限公司 股东</td>
                    </tr>
                    <tr>
                      <td>湖北金猫信息技术有限责任公司（股东）</td>
                    </tr>
                    <tr>
                      <td>宜昌京湘文化传播有限公司（总经理）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="standing-director-item">
            <div class="photo">
              <img src="/public/images/team/director2.png" alt="">
            </div>
            <div class="text">
              <div class="title">陈春堂</div>
              <div class="cont">
                <table>
                  <tbody>
                    <tr>
                      <td>北京航空航天大学</td>
                    </tr>
                    <tr>
                      <td>硕士, 计算机软件工程硕士, </td>
                    </tr>
                    <tr>
                      <td>负责投资量化策略开发（依据策略的各种明确定义，开发程序来精确的执行策略）</td>
                    </tr>
                    <tr>
                      <td>湖北金猫科技有限公司 股东</td>
                    </tr>
                    <tr>
                      <td>湖北金猫信息技术有限责任公司（股东）</td>
                    </tr>
                    <tr>
                      <td>宜昌京湘文化传播有限公司（总经理）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="standing-director-item">
            <div class="photo">
              <img src="/public/images/team/director2.png" alt="">
            </div>
            <div class="text">
              <div class="title">陈春堂</div>
              <div class="cont">
                <table>
                  <tbody>
                    <tr>
                      <td>北京航空航天大学</td>
                    </tr>
                    <tr>
                      <td>硕士, 计算机软件工程硕士, </td>
                    </tr>
                    <tr>
                      <td>负责投资量化策略开发（依据策略的各种明确定义，开发程序来精确的执行策略）</td>
                    </tr>
                    <tr>
                      <td>湖北金猫科技有限公司 股东</td>
                    </tr>
                    <tr>
                      <td>湖北金猫信息技术有限责任公司（股东）</td>
                    </tr>
                    <tr>
                      <td>宜昌京湘文化传播有限公司（总经理）</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>