<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>俱乐部资产</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <section class="structure-container" style="background-image: url(/public/images/about/pexels-bg.png);">
    <div class="structure-wrapper max-center">
      <div class="title-module" style="background-image: url(/public/images/about/club-structure.png);">俱乐部架构</div>
      <div class="main-cont">
        <div class="title">联合主席</div>
        <ul class="team-list num-2">
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-1.png" alt="">
              <p>koby.sadan</p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-2.png" alt="">
              <p>陈春堂</p>
            </a>
          </li>
        </ul>
        <div class="title">常务理事</div>
        <ul class="team-list line-none">
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-3.png" alt="">
              <p>刘华</p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-4.png" alt="">
              <p>陈文忠</p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-5.png" alt="">
              <p>Roberto Giuffrida </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-6.png" alt="">
              <p>Augustus (Augie)</p>
            </a>
          </li>
        </ul>
        <!-- <div class="title">各行各业精英，区域董事会</div>
        <ul class="team-list last num-6">
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-7.png" alt="">
              <p>刘浩国</p>
              <p class="desc">
                宗杨战队
              </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-8.png" alt="">
              <p>王俊</p>
              <p class="desc">
                江晨战队
              </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-9.png" alt="">
              <p>唐俊</p>
              <p class="desc">
                领航战队
              </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-10.png" alt="">
              <p>王普</p>
              <p class="desc">
                腾飞战队
              </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-11.png" alt="">
              <p>Matthew Bloom</p>
              <p class="desc">
                Achieving Your Dreams Team（AYD）
              </p>
            </a>
          </li>
          <li class="team-item">
            <a href="team_view.html">
              <img src="/public/images/about/team-12.png" alt="">
              <p>Rami Armon</p>
              <p class="desc">
                Black Gold Team
              </p>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </section>
  <section class="team-leader-container">
    <div class="title-module" style="background-image: url(/public/images/team/team-leader2.png);">华英会精英团队</div>
    <div class="team-leader-wrapper max-center">
      <div class="team-leader-swiper">
        <ul class="team-leader-list">
          <li class="team-leader-item">
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team.png" alt="">
              <img src="/public/images/team/m-team.png" alt="" class="m-img">
            </div>
            <div class="text">
              <div class="title">刘浩国-宗杨战队</div>
              <div class="note">
                宗扬团队简介 “宗扬”团队创始人张世超先生  ，团队成立于2011年。吸纳各行业精英会员已超9000人次。是一支走在最前沿赛道具有大爱的团队。 长远发展，追求创新是团队不变的宗旨。 “宗扬”二字。一是希望团队所有成员像宗族一样团结互助，亲如兄弟姊妹。二是希望团队所有成员将团队发扬光大，将正能量的精神传播开来。 团队涉猎港口，金融，酒店，矿产，区块链，餐饮，汽车等多个行业。团队自创立以来一直秉承着团结、负责、严谨、博爱的核心思想投身于最前沿的赛道中。其中尤以金融，区块链领域为傲！ “宗杨”团队不仅是一个资源整合，互帮互助的组织，更是肩负承担社会责任，建设社会美好发展使命的组织！团队成立至今对外捐赠物资及现金已超3000万元。 团队综合收益回报比例已超过百分之60。
              </div>
            </div>
          </li>
          <li class="team-leader-item">
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team.png" alt="">
              <img src="/public/images/team/m-team.png" alt="" class="m-img">
            </div>
            <div class="text">
              <div class="title">刘浩国-宗杨战队</div>
              <div class="note">
                宗扬团队简介 “宗扬”团队创始人张世超先生  ，团队成立于2011年。吸纳各行业精英会员已超9000人次。是一支走在最前沿赛道具有大爱的团队。 长远发展，追求创新是团队不变的宗旨。 “宗扬”二字。一是希望团队所有成员像宗族一样团结互助，亲如兄弟姊妹。二是希望团队所有成员将团队发扬光大，将正能量的精神传播开来。 团队涉猎港口，金融，酒店，矿产，区块链，餐饮，汽车等多个行业。团队自创立以来一直秉承着团结、负责、严谨、博爱的核心思想投身于最前沿的赛道中。其中尤以金融，区块链领域为傲！ “宗杨”团队不仅是一个资源整合，互帮互助的组织，更是肩负承担社会责任，建设社会美好发展使命的组织！团队成立至今对外捐赠物资及现金已超3000万元。 团队综合收益回报比例已超过百分之60。
              </div>
            </div>
          </li>
          <li class="team-leader-item">
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team.png" alt="">
              <img src="/public/images/team/m-team.png" alt="" class="m-img">
            </div>
            <div class="text">
              <div class="title">刘浩国-宗杨战队</div>
              <div class="note">
                宗扬团队简介 “宗扬”团队创始人张世超先生  ，团队成立于2011年。吸纳各行业精英会员已超9000人次。是一支走在最前沿赛道具有大爱的团队。 长远发展，追求创新是团队不变的宗旨。 “宗扬”二字。一是希望团队所有成员像宗族一样团结互助，亲如兄弟姊妹。二是希望团队所有成员将团队发扬光大，将正能量的精神传播开来。 团队涉猎港口，金融，酒店，矿产，区块链，餐饮，汽车等多个行业。团队自创立以来一直秉承着团结、负责、严谨、博爱的核心思想投身于最前沿的赛道中。其中尤以金融，区块链领域为傲！ “宗杨”团队不仅是一个资源整合，互帮互助的组织，更是肩负承担社会责任，建设社会美好发展使命的组织！团队成立至今对外捐赠物资及现金已超3000万元。 团队综合收益回报比例已超过百分之60。
              </div>
            </div>
          </li>
          <li class="team-leader-item">
            <div class="photo">
              <img class="pc-img" src="/public/images/team/team.png" alt="">
              <img src="/public/images/team/m-team.png" alt="" class="m-img">
            </div>
            <div class="text">
              <div class="title">刘浩国-宗杨战队</div>
              <div class="note">
                宗扬团队简介 “宗扬”团队创始人张世超先生  ，团队成立于2011年。吸纳各行业精英会员已超9000人次。是一支走在最前沿赛道具有大爱的团队。 长远发展，追求创新是团队不变的宗旨。 “宗扬”二字。一是希望团队所有成员像宗族一样团结互助，亲如兄弟姊妹。二是希望团队所有成员将团队发扬光大，将正能量的精神传播开来。 团队涉猎港口，金融，酒店，矿产，区块链，餐饮，汽车等多个行业。团队自创立以来一直秉承着团结、负责、严谨、博爱的核心思想投身于最前沿的赛道中。其中尤以金融，区块链领域为傲！ “宗杨”团队不仅是一个资源整合，互帮互助的组织，更是肩负承担社会责任，建设社会美好发展使命的组织！团队成立至今对外捐赠物资及现金已超3000万元。 团队综合收益回报比例已超过百分之60。
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>